<h1> Create a New Buyer</h1>

<%= form_with local: true, method: 'post', url: "create" do |form| %>
  Buyer Name: <%= form.text_field :name %><br>
  <!-- Add the fields that you need for your schema! -->

  <%= form.submit %>
<% end %>
